@media (min-width: 768px) {
    .itemgrid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 1024px) {
    .itemgrid {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

.itemgrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;

    .griditem {
        display: flex;
        flex-flow: column;
        gap: 12px;

        padding: 0.5rem;
        min-height: 8rem;
        border-color: black;
        border-width: 1px;
        background-color: rgba(31, 36, 44, 1);

        .item-name {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
        .item-desc {
            font-size: 0.875rem;
            line-height: 1.25rem;
            flex-grow: 1;
        }
        .item-spacer {
            flex: 1 1 0%;
        }
        .item-footer {
            display: flex;
            align-items: center;
            height: 2rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin: -0.5rem;
            margin-bottom: -1.2rem;
            margin-top: 1rem;
            padding: 0.5rem;
            background-color: rgba(39, 44, 53, 1);
        }
    }
}
